@using Microsoft.Ajax.Utilities
@model GroupUp.ViewModels.ModeratorUserDetailsViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<h2>User Details</h2>

<p><strong>User ID:</strong> @Model.User.UserId</p>
<p><strong>Username:</strong> @Model.User.AspNetIdentity.UserName</p>
<p><strong>Security Level:</strong> @Model.User.SecurityLevel</p>
<p><strong>Trust Points:</strong> @Model.User.TrustPoints</p>
<p><strong>Contact Info:</strong> @Model.User.ContactInfo</p>
<p>
    <strong>Is Blocked:</strong> @(Model.User.AspNetIdentity.LockoutEndDateUtc == null || Model.User.AspNetIdentity.LockoutEndDateUtc < DateTime.Now ? "No" : "Yes")
    @if (!(Model.User.AspNetIdentity.LockoutEndDateUtc == null || Model.User.AspNetIdentity.LockoutEndDateUtc < DateTime.Now))
    {
        <span>(Block End Date: @Model.User.AspNetIdentity.LockoutEndDateUtc)</span>
    }
</p>
<hr/>
<p><strong>Joined Groups:</strong></p>
<ul>
    @foreach (var group in Model.User.Groups)
    {
        if (!group.IsClosed && group.Creator.UserId != Model.User.UserId)
        {
            <li> @Html.ActionLink(group.Title,"GroupDetails", new {groupId = group.GroupId})</li>
        }
    }
</ul>
<hr />
<p><strong>Created Groups:</strong></p>
<ul>
    @foreach (var group in Model.User.Groups)
    {
        if (!group.IsClosed && group.Creator.UserId == Model.User.UserId)
        {
            <li> @Html.ActionLink(group.Title, "GroupDetails", new { groupId = group.GroupId })</li>
        }
    }
</ul>
<hr />
<p><strong>Closed Groups:</strong></p>
<ul>
    @foreach (var group in Model.User.Groups)
    {
        if (group.IsClosed)
        {
            <li> @Html.ActionLink(group.Title, "GroupDetails", new { groupId = group.GroupId })</li>
        }
    }
</ul>
<hr />
<p>Change the lockout date to a future date to block the user, or to a previous date to unblock them.</p>
@Html.ActionLink("Change Lockout Date", "ChangeLockoutDate",
     new{userId = Model.User.UserId}, new{@class="btn btn-primary"})

