@model GroupUp.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>

@if (!Model.UserCanView)
{
    <p>@Model.DenyMessage</p>
}
else
{
    <p><strong>Username:</strong> @Model.User.AspNetIdentity.UserName</p>
    <p><strong>Security Level:</strong>  @Model.User.SecurityLevel</p>
    <p><strong>Trust Points:</strong>  @Model.User.TrustPoints</p>
    <p><strong>Contact Info:</strong>  @Model.User.ContactInfo</p>
}