@model GroupUp.ViewModels.UserReportViewModel
@{
    ViewBag.Title = "ReportUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report User</h2>

@if (Model.UserReport.TargetUser == null)
{
    <p>The user with the given ID does not exist.</p>
}
else
{
    using (Html.BeginForm("PostUserReport", "Reports", FormMethod.Post))
    {
        <p>
            Report for @Html.ActionLink(Model.UserReport.TargetUser.AspNetIdentity.UserName, "Details", "Users",
new { userId = Model.UserReport.TargetUser.UserId }, null)
        </p>
        <div class="form-group">
            @Html.LabelFor(m => m.UserReport.Reason)
            @Html.TextBoxFor(m => m.UserReport.Reason, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserReport.Reason)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UserReport.DetailedDescription)
            @Html.TextBoxFor(m => m.UserReport.DetailedDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserReport.DetailedDescription)
        </div>

        @Html.HiddenFor(m => m.UserReport.UserReportId)
        @Html.HiddenFor(m => m.UserReport.TargetUser)
        @Html.HiddenFor(m => m.ReportedUserId)
        <button class="btn btn-primary" type="submit">SUBMIT REPORT</button>
    }
}