@model GroupUp.ViewModels.ClosedGroupViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Closed Group Details</h2>

@if (Model.ClosedGroup.Group == null)
{
    <p>The group with the given ID does not exist.</p>
}
else
{
    <p><strong>Group Title:</strong>  @Model.ClosedGroup.Group.Title</p>
    <p><strong>Group Description:</strong>  @Model.ClosedGroup.Group.Description</p>
    <p><strong>Group Location:</strong> @Model.ClosedGroup.Group.City, @Model.ClosedGroup.Group.Country, @Model.ClosedGroup.Group.Continent</p>
    @Html.ActionLink("Report Group", "ReportGroup", "Reports", new { groupId = Model.ClosedGroup.Group.GroupId }, new { @class = "btn btn-primary" })
    <p><strong>Group Members:</strong></p>

    <ul>
        @foreach (var usr in @Model.ClosedGroup.Group.Members)
        {
            if (usr.UserId != Model.User.UserId)
            {
                <li>
                    @usr.AspNetIdentity.UserName | @Html.ActionLink("View User", "Details", "Users", new { userId = @usr.UserId }, null)
                    | @Html.ActionLink("Report User", "ReportUser", "Reports", new { userId = usr.UserId }, null)
                </li>
            }
            else
            {
                <li>
                    @usr.AspNetIdentity.UserName
                </li>
            }
        }
    </ul>

    <hr />
    @Html.ActionLink("Rate Group", "Rate", new { groupId = Model.ClosedGroup.Group.GroupId },  new {@class="btn btn-primary"});

}