@model GroupUp.ViewModels.GroupDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Group Details</h2>

@if (Model.Group == null)
{
    <p>The group with the given ID does not exist.</p>
}
else
{
    <p><strong>Group Title:</strong> @Model.Group.Title</p>
    <p><strong>Group Description:</strong>  @Model.Group.Description</p>
    <p><strong>Group Members:</strong></p>
    @Html.ActionLink("Report Group", "ReportGroup", "Reports", new {groupId = Model.Group.GroupId}, new{@class="btn btn-primary"})
    <ul>
        @foreach (var usr in @Model.Group.Members)
        {
            <li>
                @usr.AspNetIdentity.UserName
            </li>
        }
    </ul>

    <hr/>

    if (Model.Group.Members.Count < Model.Group.MaxUserCapacity
        && !Model.Group.Members.Contains(Model.User)
        && Model.User.SecurityLevel >= 1)
    {
        using (@Html.BeginForm("Join", "Groups", new {groupId = Model.Group.GroupId}, FormMethod.Post))
        {
            <button class="btn btn-primary">Join Group</button>
        }
        
    }
    else
    {
        <p>You cannot join this group.</p>
    }

}