@model GroupUp.ViewModels.CreateGroupViewModel

@{
    ViewBag.Title = "title";
}

<h2>Edit Group</h2>

@using (Html.BeginForm("Save", "Groups", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DetailedDescription)
        @Html.TextAreaFor(m => m.DetailedDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DetailedDescription)
    </div>

    @Html.HiddenFor(m => m.GroupId)
    @Html.HiddenFor(m => m.MaxUserCapacity)
    @Html.HiddenFor(m => m.City)
    @Html.HiddenFor(m => m.Country)
    @Html.HiddenFor(m => m.Continent)



    <button class="btn btn-primary" type="submit">Save Changes to Group</button>
}