@model GroupUp.ViewModels.GroupRequestsViewModel
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Group Requests</h2>

<p>You must be at least security level 1 to join groups. Click your username on the top right of the screen to do so.</p>

@{
    bool noGroupsShown = true;
    foreach (var group in Model.Groups)
    {
        if (!group.Members.Contains(Model.User) && group.Creator != Model.User 
            && Model.Location.IsMatchingLocation(group.City, group.Country, group.Continent))
        {
            noGroupsShown = false;
            <hr/>
            <div style="border: 5px solid black">
                <h3> @group.Title</h3>
                <p> @(group.Description)</p>
                <p> @group.Members.Count users in this group</p>
                <p> @(group.MaxUserCapacity - group.Members.Count) free spots in this group</p>
                @Html.ActionLink("View Group →", "Details", "Groups", new { id = group.GroupId}, new { @class="btn btn-primary"})

            </div>
        }
    }

    if (noGroupsShown)
    {
        <p>There are currently no groups you can join.</p>
    }
}

