@model GroupUp.ViewModels.UserGroupsViewModel
@{
    ViewBag.Title = "UserGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Groups</h2>
@if ( @Model.User.SecurityLevel >= 2)
{
    @Html.ActionLink("Create a Group", "Create", "Groups", null, new {@class="btn btn-primary"})
}
<h2>Joined Groups</h2>
@{
    if (Model.JoinedGroups.Count <= 0)
    {
        <p>You have not joined any groups yet.</p>
    }
    else
    {
        foreach (var group in Model.JoinedGroups)
        {
            <hr />
            <div>
                <h3> @group.Title</h3>
                <p> @group.Description</p>
                <p> @group.Members.Count users in this group</p>
                <p> @(group.MaxUserCapacity - group.Members.Count) free spots in this group</p>
                @Html.ActionLink("View Group →", "Details", "Groups", new { id = group.GroupId }, new { @class = "btn btn-primary" })
            </div>
        }
    }
}

<hr />

<h2>Created Groups</h2>
@{
    if (Model.User.SecurityLevel < 2)
    {
        <p>You cannot create a group yet, since your security level is below 2.</p>
    }
    else if (Model.CreatedGroups.Count <= 0)
    {
        <p>You have not created any groups yet.</p>
    }
    else
    {
        foreach (var group in Model.CreatedGroups)
        {
            <hr />
            <div>
                <h3> @group.Title</h3>
                <p> @group.Description</p>
                <p> @group.Members.Count users in this group</p>
                <p> @(group.MaxUserCapacity - group.Members.Count) free spots in this group</p>
                @Html.ActionLink("View Group →", "Details", "Groups", new { id = group.GroupId }, new { @class = "btn btn-primary" })
            </div>
        }
    }
}

<hr />

<h2>Closed Groups</h2>
@{
    if (Model.ClosedGroups.Count <= 0)
    {
        <p>You have no closed groups pending a rating from you.</p>
    }
    else
    {
        foreach (var group in Model.ClosedGroups)
        {
            <hr />
            <div>
                <h3> @group.Title</h3>
                <p> @group.Description</p>
                @Html.ActionLink("View Group →", "Details", "Groups", new { id = group.GroupId }, new { @class = "btn btn-primary" })
            </div>
        }
    }
}

